html {
  direction: ltr;
  overflow-x: hidden;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

html body .btn.focus,
html body .btn:focus,
html body .btn.active,
html body .btn:active, html body.body .btn.focus,
html body.body .btn:focus,
html body.body .btn.active,
html body.body .btn:active {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

html .text-color-light,
html .text-light {
  color: #fff !important;
}

html .bg-color-secondary,
html .bg-secondary {
  background-color: #ffe8e6 !important;
}

html .bg-color-tertiary,
html .bg-tertiary {
  background-color: #242b32 !important;
}

body {
  background-color: #fff;
  color: #777;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
}

body a {
  outline: none !important;
}

@media (max-width: 575px) {
  body {
    font-size: 13px;
  }
}

body[data-section-scroll] #header .header-body {
  background: transparent;
}

html.safari .body {
  overflow-x: hidden;
}

@media (max-width: 991px) {
  html.safari #header .header-body {
    overflow: visible !important;
  }
}

li {
  line-height: 24px;
}

.btn + .dropdown-menu .dropdown-item {
    font-size: 12.8px;
    font-size: 0.8rem;
}

/*
 * Section
 */
section.section {
  position: relative;
  background: #f7f7f7;
  padding: 50px 0px;
  border: none !important;
}

/*
 * Input elements
 */
input[type="text"],
textarea {
  -webkit-appearance: none;
}

.input-group .form-control {
  height: auto;
}

.form-control:not(.form-control-lg) {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.3;
}

.form-control:not(.form-control-sm):not(.form-control-lg) {
    font-size: 13.6px;
    font-size: 0.85rem;
    line-height: 1.85;
}

.form-control:focus {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-color: #ccc;
}

.form-control::placeholder,
input[type="text"]::placeholder,
textarea::placeholder {
  color: #bdbdbd;
}

/*
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: #444;
  letter-spacing: -0.05em;
}

h1 {
  font-size: 5.6em;
  font-weight: 600;
  line-height: 1;
  margin-left: -5px;
  letter-spacing: -3px;
}

@media (max-width: 991px) {
  h1 {
    font-size: 4.6em;
  }
}

h2 {
  font-size: 1.9em;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 42px;
}

h2.custom-bar {
  position: relative;
}

h2.custom-bar:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 17px;
  border-bottom: 2px solid #f4645a;
}

h2.custom-bar._left:after {
  left: 1px;
}

h2.custom-bar._center {
  text-align: center;
}

h2.custom-bar._center:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

h2.custom-bar._right:after {
  left: initial;
  right: 1px;
}

h2.custom-bar._color-light:after {
  border-color: #fff !important;
}

@media (max-width: 991px) {

  h2.custom-bar._right:after,
  h2.custom-bar._left:after {
    left: 50% !important;
  }
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.1em;
  font-weight: 600;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

/*
 * Header
 */
html:not(.sticky-header-active) #header .header-nav.header-nav-links nav>ul li>a.active {
  color: #fff !important;
  opacity: 0.7;
}

html:not(.sticky-header-active) #header .header-nav.header-nav-links nav>ul li:hover>a,
html:not(.sticky-header-active) #header .header-nav.header-nav-links nav>ul li:focus>a,
html:not(.sticky-header-active) #header .header-nav.header-nav-links nav>ul li:active>a {
  color: #fff !important;
  opacity: 0.7;
}

#header {
  position: relative;
  z-index: 1030;
}

#header .header-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff;
  -webkit-transition: min-height 0.3s ease;
  transition: min-height 0.3s ease;
  width: 100%;
  border-top: 3px solid #ededed;
  border-bottom: 1px solid transparent;
  z-index: 1001;
}

#header .header-body[class*="border-color-"] {
  border-bottom: 0 !important;
}

#header .header-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: ease height 300ms;
  transition: ease height 300ms;
}

@media (max-width: 991px) {
  #header .header-container:not(.container):not(.container-fluid) .header-nav-main {
    padding: 0 0.75rem;
  }
}

#header .container {
  position: relative;
}

@media (max-width: 767px) {
  #header .container {
    width: 100%;
  }
}

#header .header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  max-height: 100%;
}

#header .header-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#header .header-column .header-row {
  -webkit-box-pack: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
}

#header .header-logo {
  margin: 16px 0;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

#header .header-logo img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  top: 0;
}

#header .header-nav {
  padding: 16px 0;
  padding: 1rem 0;
  min-height: 70px;
}

#header .header-btn-collapse-nav {
  background: #f4645a;
  color: #fff;
  display: none;
  float: right;
  margin: 0 0 0 16px;
  margin: 0 0 0 1rem;
}

#header.header-effect-shrink {
  -webkit-transition: ease height 300ms;
  transition: ease height 300ms;
}

#header.header-effect-shrink .header-top {
  -webkit-transition: ease height 300ms;
  transition: ease height 300ms;
}

#header.header-effect-shrink .header-container {
  min-height: 100px;
}

#header.header-effect-shrink .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

html #header.header-transparent {
  min-height: 0 !important;
  width: 100%;
  position: absolute;
}

html #header.header-transparent .header-body:not(.header-border-bottom) {
  border-bottom: 0;
}

html:not(.sticky-header-active) #header.header-transparent:not(.header-semi-transparent) .header-body {
  background-color: transparent !important;
}

html:not(.sticky-header-active) #header.header-transparent-dark-bottom-border .header-body {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

html:not(.sticky-header-active) #header.header-transparent-dark-bottom-border-1 .header-body {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 991px) {
  html #header.header-transparent .header-body {
    overflow: hidden;
  }

  html #header.header-transparent .header-body.bg-dark .header-nav-main:before,
  html #header.header-transparent .header-body.bg-color-dark .header-nav-main:before {
    background-color: #212529;
  }

  html #header.header-transparent .header-nav-main:before {
    width: calc(100% - 30px);
  }

  html #header.header-transparent .header-nav-main nav {
    padding: 0 30px;
  }

  html.sticky-header-active #header.header-transparent .header-nav-main nav {
    padding: 0 15px;
  }
}

html.sticky-header-active #header .header-body {
  position: fixed;
  border-bottom-color: rgba(234, 234, 234, 0.5);
  -webkit-box-shadow: 0 0 3px rgba(234, 234, 234, 0.5);
  box-shadow: 0 0 3px rgba(234, 234, 234, 0.5);
}

html.sticky-header-active #header.header-effect-shrink .header-body {
  position: relative;
}

html.sticky-header-reveal.sticky-header-active #header .header-body {
  position: fixed;
  border-bottom: none;
  width: 100%;
  max-width: 100%;
}

/* Header Nav Main */
@media (min-width: 992px) {
  #header .header-nav-main {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    height: auto !important;
  }

  #header .header-nav-main nav {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  #header .header-nav-main nav>ul>li {
    height: 100%;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    margin-left: 2px;
  }

  #header .header-nav-main nav>ul>li>a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: normal;
    border-radius: 4px;
    color: #ccc;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    padding: 0.5rem 1rem;
    letter-spacing: -0.5px;
    text-transform: uppercase;
  }

  #header .header-nav-main nav>ul>li>a:after {
    display: none;
  }

  #header .header-nav-main nav>ul>li>a:active {
    background-color: transparent;
    text-decoration: none;
    color: #ccc;
  }

  #header .header-nav-main nav>ul>li>a.dropdown-toggle .fa-chevron-down {
    display: none;
  }

  #header .header-nav-main nav>ul>li>a.active {
    background-color: transparent;
  }

  #header .header-nav-main nav>ul>li.open>a,
  #header .header-nav-main nav>ul>li:hover>a {
    background: #ccc;
    color: #fff;
  }

  #header .header-nav-main nav>ul>li.dropdown .dropdown-menu {
    top: -10000px;
    display: block;
    opacity: 0;
    left: auto;
    border-radius: 0 4px 4px;
    border: 0;
    border-top: 3px solid #ccc;
    -webkit-box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.07);
    box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.07);
    margin: 0;
    min-width: 200px;
    padding: 5px 0;
    text-align: left;
  }

  #header .header-nav-main nav>ul>li.dropdown .dropdown-menu li a {
    border-bottom: 1px solid #f7f7f7;
    color: #777;
    font-size: 0.8em;
    font-weight: 400;
    padding: 6px 18px;
    position: relative;
    text-transform: none;
    letter-spacing: -0.5px;
  }

  #header .header-nav-main nav>ul>li.dropdown .dropdown-menu li a:hover,
  #header .header-nav-main nav>ul>li.dropdown .dropdown-menu li a:focus,
  #header .header-nav-main nav>ul>li.dropdown .dropdown-menu li a.active,
  #header .header-nav-main nav>ul>li.dropdown .dropdown-menu li a:active {
    background-color: transparent;
  }

  #header .header-nav-main nav>ul>li.dropdown .dropdown-menu li:hover>a,
  #header .header-nav-main nav>ul>li.dropdown .dropdown-menu li:focus>a,
  #header .header-nav-main nav>ul>li.dropdown .dropdown-menu li.active>a,
  #header .header-nav-main nav>ul>li.dropdown .dropdown-menu li:active>a {
    background-color: #f8f9fa;
  }

  #header .header-nav-main nav>ul>li.dropdown .dropdown-menu li:last-child a {
    border-bottom: 0;
  }

  #header .header-nav-main nav>ul>li.dropdown.open>a,
  #header .header-nav-main nav>ul>li.dropdown:hover>a {
    border-radius: 4px 4px 0 0;
    position: relative;
  }

  #header .header-nav-main nav>ul>li.dropdown.open>a:before,
  #header .header-nav-main nav>ul>li.dropdown:hover>a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    border-bottom: 5px solid #ccc;
  }

  #header .header-nav-main nav>ul>li.dropdown.open>.dropdown-menu,
  #header .header-nav-main nav>ul>li.dropdown:hover>.dropdown-menu {
    top: auto;
    display: block;
    opacity: 1;
  }

  #header .header-nav-main.header-nav-main-square nav>ul>li>a {
    border-radius: 0 !important;
  }

  #header .header-nav-main.header-nav-main-square nav>ul>li.dropdown .dropdown-menu {
    border-radius: 0 !important;
  }

  #header .header-nav-main.header-nav-main-square nav>ul>li.dropdown .thumb-info,
  #header .header-nav-main.header-nav-main-square nav>ul>li.dropdown .thumb-info-wrapper {
    border-radius: 0 !important;
  }

  #header .header-nav-main.header-nav-main-dropdown-no-borders nav>ul>li.dropdown .dropdown-menu {
    border: 0 !important;
    border-radius: 4px;
  }

  #header .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }

  #header .header-nav.header-nav-links {
    padding: 0;
  }

  #header .header-nav.header-nav-links .header-nav-main {
    -ms-flex-item-align: stretch;
    align-self: stretch;
    min-height: 0;
    margin-top: 0;
  }

  #header .header-nav.header-nav-links nav>ul>li>a,
  #header .header-nav.header-nav-links nav>ul>li:hover>a {
    position: relative;
    background: transparent !important;
    padding: 0 0.9rem;
    margin: 1px 0 0;
    min-height: 60px;
    height: 100%;
  }

  #header .header-nav.header-nav-links nav>ul>li:hover>a:before,
  #header .header-nav.header-nav-links nav>ul>li.open>a:before {
    opacity: 1;
  }

  #header .header-nav.header-nav-links nav>ul>li>a.active {
    background: transparent;
  }

  #header .header-nav.header-nav-links nav>ul>li>a.active:before {
    opacity: 1;
  }

  #header .header-nav.header-nav-links nav>ul>li.dropdown>a:before {
    border-bottom: 0;
  }

  #header .header-nav.header-nav-links nav>ul>li.dropdown.open>.dropdown-menu,
  #header .header-nav.header-nav-links nav>ul>li.dropdown:hover>.dropdown-menu {
    margin-top: 0;
  }

  #header .header-nav.header-nav-links:not(.header-nav-light-text) nav>ul>li>a {
    color: #444;
  }

  #header .header-nav.header-nav-links.header-nav-light-text nav>ul>li>a {
    color: #fff;
  }

  #header .header-nav.header-nav-dropdowns-dark nav>ul>li.dropdown>a:before {
    border-bottom: 0;
  }

  #header .header-nav.header-nav-dropdowns-dark nav>ul>li.dropdown li a {
    border-bottom-color: #2a2a2a;
  }

  #header .header-nav.header-nav-dropdowns-dark nav>ul>li.dropdown .dropdown-menu {
    background: #1e1e1e;
    margin-top: 0;
  }

  #header .header-nav.header-nav-dropdowns-dark nav>ul>li.dropdown .dropdown-menu>li>a {
    color: #969696;
  }

  #header .header-nav.header-nav-dropdowns-dark nav>ul>li.dropdown .dropdown-menu>li:hover>a,
  #header .header-nav.header-nav-dropdowns-dark nav>ul>li.dropdown .dropdown-menu>li:focus>a {
    background: #282828;
  }
}

@media (min-width: 992px) {
  #header .header-nav-main-effect-2 nav>ul>li.dropdown .dropdown-menu {
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    opacity: 0;
  }

  #header .header-nav-main-effect-2 nav>ul>li.dropdown:hover>.dropdown-menu {
    opacity: 1;
  }
}

@media (min-width: 992px) {
  #header .header-nav-main-sub-effect-1 nav>ul>li.dropdown .dropdown-menu li.dropdown-submenu>.dropdown-menu {
    -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    opacity: 0;
  }

  #header .header-nav-main-sub-effect-1 nav>ul>li.dropdown .dropdown-menu li.dropdown-submenu:hover>.dropdown-menu {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/* Header Nav Main Mobile */
@media (max-width: 991px) {
  #header .header-nav-main {
    position: absolute;
    background: transparent;
    width: 100%;
    top: 100%;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  #header .header-nav-main:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    background: #fff;
    z-index: -1;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  #header .header-nav-main nav {
    max-height: 50vh;
    overflow: hidden;
    overflow-y: auto;
    padding: 0 15px;
    -webkit-transition: ease all 500ms;
    transition: ease all 500ms;
  }

  #header .header-nav-main nav.collapsing {
    overflow-y: hidden;
  }

  #header .header-nav-main nav::-webkit-scrollbar {
    width: 5px;
  }

  #header .header-nav-main nav::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: rgba(204, 204, 204, 0.5);
  }

  #header .header-nav-main nav>ul {
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #header .header-nav-main nav>ul li {
    border-bottom: 1px solid #e8e8e8;
    clear: both;
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    position: relative;
  }

  #header .header-nav-main nav>ul li a {
    font-size: 13px;
    font-style: normal;
    line-height: 20px;
    padding: 7px 8px;
    margin: 1px 0;
    border-radius: 4px;
    text-align: left;
  }

  #header .header-nav-main nav>ul li a .fa-caret-down {
    line-height: 35px;
    min-height: 38px;
    min-width: 30px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 0;
  }

  #header .header-nav-main nav>ul li a.dropdown-toggle {
    position: relative;
  }

  #header .header-nav-main nav>ul li a.dropdown-toggle:after {
    content: none;
  }

  #header .header-nav-main nav>ul li a.dropdown-toggle .fa-chevron-down {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 0.6rem;
  }

  #header .header-nav-main nav>ul li a:active {
    background-color: #f8f9fa;
    color: inherit;
  }

  #header .header-nav-main nav>ul li.dropdown .dropdown-menu {
    background: transparent;
    padding: 0;
    margin: 0;
    font-size: 13px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border: 0;
    clear: both;
    display: none;
    float: none;
    position: static;
  }

  #header .header-nav-main nav>ul li.dropdown.open>.dropdown-menu {
    display: block;
    margin-left: 20px;
  }

  #header .header-nav-main nav>ul li:last-child {
    border-bottom: 0;
  }

  #header .header-nav-main nav>ul>li>a {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 1px;
    margin-bottom: 1px;
    color: #ccc;
  }

  #header .header-nav-main nav>ul>li>a:active {
    color: #ccc;
  }

  #header .header-nav-main nav>ul>li>a.active {
    color: #fff !important;
    background: #ccc;
  }

  #header .header-nav-main nav>ul>li>a.active:focus,
  #header .header-nav-main nav>ul>li>a.active:hover {
    color: #fff;
    background: #ccc;
  }

  #header .header-nav-main.header-nav-main-square nav>ul>li a {
    border-radius: 0 !important;
  }

  #header .header-nav-bar .header-container {
    min-height: 0;
    height: auto !important;
  }

  #header .header-nav-bar .header-nav {
    min-height: 60px !important;
    padding: 0;
  }

  #header .header-btn-collapse-nav {
    outline: 0;
    display: block;
    position: relative;
    z-index: 1;
  }

  #header .header-nav.header-nav-links {
    min-height: 70px;
  }

  #header .header-nav.header-nav-dropdowns-dark {
    min-height: 70px;
  }
}

/* Header Nav Main Mobile Dark */
@media (max-width: 991px) {
  #header .header-nav-main.header-nav-main-mobile-dark:before {
    background-color: #212529;
  }

  #header .header-nav-main.header-nav-main-mobile-dark nav>ul>li>a {
    color: #dedede;
  }

  #header .header-nav-main.header-nav-main-mobile-dark nav>ul>li>a.active {
    color: #fff;
  }

  #header .header-nav-main.header-nav-main-mobile-dark nav>ul>li .dropdown-menu>li a {
    color: #969696;
  }

  #header .header-nav-main.header-nav-main-mobile-dark nav>ul>li .dropdown-menu>li a.active {
    color: #fff;
  }

  #header .header-nav-main.header-nav-main-mobile-dark nav>ul li {
    border-bottom: 1px solid #3e3e3e;
  }

  #header .header-nav-main.header-nav-main-mobile-dark nav>ul li:last-child {
    border-bottom: 0;
  }

  #header .header-nav-main.header-nav-main-mobile-dark nav>ul li a:hover,
  #header .header-nav-main.header-nav-main-mobile-dark nav>ul li a:focus,
  #header .header-nav-main.header-nav-main-mobile-dark nav>ul li a:active {
    background-color: #2b2b2b;
  }

  #header .header-nav-main.header-nav-main-mobile-dark nav > ul > li > a.active {
    background: #f4645a;
  }
}

#header .header-nav.header-nav-links nav ul li:hover > a {
  color: #f4645a;
}

#header .header-nav.header-nav-links nav > ul:not(:hover) > li > a.active {
  color: #f4645a;
}

/* Responsive */
@media (min-width: 992px) {
  #header .header-body:not(.h-100) {
    height: auto !important;
  }
}

@media (max-width: 991px) {
  #header .header-logo img {
    z-index: 1;
  }

  #header .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

/*
 * Modal
 */
.modal-title {
  width: 100%;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.modal-title>h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
}

.modal-title>span {
  font-size: 90%;
}

.modal-body>.tree {
  margin-bottom: 15px;
  height: 170px;
  overflow-y: auto;
  scrollbar-color: #bbb #ddd;
}

.modal-body>.tree {
  list-style: none;
  padding-left: 0;
}

.modal-body>.tree>li {
  margin-bottom: 5px;
  position: relative;
}

.modal-body>.tree>li>a {
  width: 90%;
  text-decoration: none;
  padding: 5px 10px;
  background: #f5f5f5;
  color: #333;
  display: block;
}

.modal-body>.tree>li>a:hover {
  background: #ffcfcc;
}

/*
 * Custom Classes
 */
.custom-bg-color-1 {
  background-color: #e64337 !important;
}

.custom-background-style-1 {
  padding-top: 150px !important;
  overflow: hidden;
}

.custom-bar:not(:last-child) {
  padding-bottom: 30px;
}

.custom-progress {
  width: auto;
  height: 2px;
}

.custom-progress .blue {
  background: blue;
}

.custom-progress .green {
  background: green;
}

.custom-progress .yellow {
  background: yellow;
}

.custom-progress .red {
  background: red;
}

.custom-info:hover {
  background: #eee;
  cursor: pointer;
}

.custom-info .filename {
  font-size: 10px;
  padding-left: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-info .status {
  font-size: 10px;
  font-weight: 700;
  text-align: right;
  padding-right: 17px;
}

.custom-info .green {
  font-size: 10px;
  font-weight: 700;
  text-align: right;
}

.custom-commands .card {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.custom-input-text {
  font-size: 0.9rem;
}

.custom-form-border {
  border-color: #eee;
}

.custom-background-style-1>div {
  position: relative;
  z-index: 1;
}

.custom-text-align-right {
  text-align: right;
}

.custom-btn-style-1 {
  background: #f4645a;
  background: -webkit-gradient(linear, left top, right top, from(#f4645a), to(#ff857c));
  background: linear-gradient(to right, #f4645a 0%, #ff857c 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f4645a', endColorstr='#ff857c', GradientType=1);
  border: none;
  padding: 13px 30px;
  font-size: 12px;
  font-weight: 600;
  -webkit-transition: ease all 300ms;
  transition: ease all 300ms;
}

.custom-btn-style-1._size-1 {
  padding: 13px 42px !important;
  font-size: 14px !important;
  letter-spacing: 0.5px !important;
}

.custom-btn-style-1._size-2 {
  padding: 10px 32px !important;
  font-size: 13px !important;
  letter-spacing: 0.5px !important;
  margin: 0 5px;
}

.custom-btn-style-1:hover,
.custom-btn-style-1:active {
  background: #e35a50;
  background: -webkit-gradient(linear, left top, right top, from(#e35a50), to(#f97c72));
  background: linear-gradient(to right, #e35a50 0%, #f97c72 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#e35a50', endColorstr='#f97c72', GradientType=1);
}

.custom-btn-style-1>.fas {
  pointer-events: none;
}

@media (max-width: 1199px) {
  .custom-background-style-1 {
    min-height: 520px;
  }
}

@media (max-width: 991px) {
  section.section {
    padding: 30px 0;
  }

  .btn {
    width: 100%;
    margin-top: 5px;
    border-radius: 3px !important;
  }

  .custom-background-style-1 {
    padding-top: 150px !important;
    min-height: 291px;
  }

  .custom-btn-style-1._size-2 {
    padding: 10px 22px !important;
  }

  .input-group {
    display: block;
  }

  .input-group>.form-control {
    display: block;
    width: 100%;
    border-radius: 3px !important;
  }

  .input-group-text {
    display: block;
    background: none;
    color: #bbb;
    border: none;
    padding-left: 2px;
    padding-bottom: 0;
  }
}

/*
 * Footer
 */
#footer {
  font-size: 0.9em;
  margin: 0;
  border: none;
  padding: 70px 0 10px;
}

@media (max-width: 767px) {
  #footer {
    padding: 60px 0 10px;
  }
}

/*
 * Scroll to top
 */
html .scroll-to-top.visible {
  opacity: 0.75;
}

html .scroll-to-top {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background: #404040;
  border-radius: 4px 4px 0 0;
  bottom: 10px;
  color: #fff;
  display: block;
  height: 9px;
  opacity: 0;
  padding: 10px 10px 35px;
  position: fixed;
  right: 10px;
  text-align: center;
  text-decoration: none;
  min-width: 50px;
  z-index: 1040;
  font-size: 0.8em;
}

@media (max-width: 991px) {
  html .scroll-to-top.hidden-mobile {
	display: none !important;
  }
}
