/* ZigzagDownLoader (ZDL)

This program is free software: you can redistribute it and/or modify it
under the terms of the GNU General Public License as published
by the Free Software Foundation; either version 3 of the License,
or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see http://www.gnu.org/licenses/.

Copyright (C) 2011: Gianluca Zoni (zoninoz) <zoninoz@inventati.org>

For information or to collaborate on the project:
https://savannah.nongnu.org/projects/zdl */

/* Labels */
.inline-group .label {
  background: #ccc;
}

/* Labels light */
.inline-group .label.alt {
  background: #f1f1f1;
}

/* Input and text bars */
.inline-group .value,
.inline-group input {
  background: #f1f1f1;
  color: #222;
}

/* Spinners background */
.inline-group .spinner,
.inline-group .time-spinner {
  background: #fff !important;
}

/* Select menu text */
.inline-group .ui-selectmenu-text {
  color: #222;
}

/* Playlist */
.playlist > .pl-item > .pl-file {
  background: #cfe4fc;
  color: #3275ab;
}

/* Playlist audio files */
.playlist > .pl-item > .audio {
  background: #c9d3fb !important;
}

/* Progressbar text */
.ui-progressbar .label {
  color: #3275ab;
}

/* Progressbar color */
.ui-progressbar > .ui-widget-header {
  background: #cfe4fc !important;
  border-color: #cfe4fc !important;
}

/* Progressbar background */
.ui-progressbar.ui-widget-content {
  background: #f1f8ff !important;
  border-color: #e7f2fd !important;
}

/* Progressbar status 100% */
.progressbar .side-status {
  background: #d0edec;
  color: #207a72;
  border: 1px solid #d0edec;
}

/* Progressbar status on download */
.progressbar .downloading {
  background: #ffe6cc !important;
  border: 1px solid #ffe6cc !important;
  color: #393a1d !important;
}

/* Progressbar status on unterminated */
.progressbar .unterminated {
  background: #ddd !important;
  border: 1px solid #ddd !important;
  color: #444 !important;
}

/* Progressbar status on abort */
.progressbar .aborted {
  background: #f1dcda !important;
  border: 1px solid #f1dcda !important;
  color: #c42b5e !important;
}

/* Button action done */
.button-action-done {
  border: 1px solid #b3e6ff !important;
  background: #cef !important;
  color: #555 !important;
}

/* Custom tooltip red background */
.tooltip-custom-red {
  background: #d00;
  color: #fff;
  border: 1px solid #d00 !important;
  border-radius: 5px !important;
  box-shadow: 0 0 5px 2px #aaa;
}

/* Dialog bar color */
/*.ui-dialog-titlebar {
  background: #e9e9e9;
  color: #333;
}*/
