/*  ZigzagDownLoader (ZDL)
 *
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published
 * by the Free Software Foundation; either version 3 of the License,
 * or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see http://www.gnu.org/licenses/.
 *
 * Copyright (C) 2011: Gianluca Zoni (zoninoz) <zoninoz@inventati.org>
 *
 * For information or to collaborate on the project:
 * https://savannah.nongnu.org/projects/zdl
 *
 */

body,
html {
    background: black;
    color: black;
    margin: 0;
    padding: 0;
}

p {
    text-align: left;
    padding: 0.5em 0.7em;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


ul {
    margin-left: 0em;
    list-style-type: square;
}

ol {
    margin-left: 0em;
}

dl {
    display: block;
    margin: 0 0 3em;
}

dt {
    margin-top: 0em;
}

dd {
    margin-bottom: 1em;
}

h1 {
    text-align: left;
    color: #343434;
    margin-bottom: 1em;
}

h2 {
    text-align: left;
    color: #343434;
    margin-bottom: 1em;
}


div {
    padding: 0px;
    text-align: left;
}


.content {
    background-color: white;
    width: 100%;
    float: left;
}

.header {
    background-image: url("../images/zdl-64x64.png");
    background-color: #343434;
    text-align: left;
    border: 0px;
    display: inline-block;
    width: 100%;
    height: 64px;
}

.footer {
    background: #959595;
    text-align: left;
    border: 0px;
    display: inline-block;
    width: 100%;
    height: 200px;
}

.contentfooter {
    background: #959595;
    width: 455px;
    float: left;
    border-right: 1em solid #343434;
    padding: 16px;
}

#progress-bar {
    float: left;
    width: calc(100% - 190px - 1em);
    height: 30px;
    background-color: black;
    z-index: 10;
    cursor: pointer;
}

#progress-status {
    position: relative;
    width: 1%;
    height: 30px;
    background-color: green;
    z-index: 20;
}

#progress-label-file {
    position: absolute;
    /* text-align: left; */
    left: 5px;
    line-height: 30px;
    color: white;
    z-index: 30;
    height: 30px;
    width: calc(100% - 190px - 1em);
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

#progress-label-status {
    float: left;
    text-align: left;
    line-height: 30px;
    color: white;
    z-index: 30;
    width: 190px;
    background-color: #343434;
    overflow: hidden;
    padding-left: 1em;
    cursor: pointer;
}

.hidden {
    display: none;
}

.visible {
    display: block;
    cursor: pointer;
    background-color: white;
    margin-bottom: 4px;
}

button,
input[type=submit] {
    -moz-box-shadow: inset 0px 1px 0px 0px #7a8eb9;
    -webkit-box-shadow: inset 0px 1px 0px 0px #7a8eb9;
    box-shadow: inset 0px 1px 0px 0px #7a8eb9;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3066db), color-stop(1, #335bab));
    background: -moz-linear-gradient(top, #3066db 5%, #335bab 100%);
    background: -webkit-linear-gradient(top, #3066db 5%, #335bab 100%);
    background: -o-linear-gradient(top, #3066db 5%, #335bab 100%);
    background: -ms-linear-gradient(top, #3066db 5%, #335bab 100%);
    background: linear-gradient(to bottom, #3066db 5%, #335bab 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#3066db', endColorstr='#335bab', GradientType=0);
    background-color: #3066db;
    border: 1px solid #314179;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 0 0.7em;
    height: calc(16px + 1em);
    box-sizing: border-box;
}

button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #335bab), color-stop(1, #3066db));
    background: -moz-linear-gradient(top, #335bab 5%, #3066db 100%);
    background: -webkit-linear-gradient(top, #335bab 5%, #3066db 100%);
    background: -o-linear-gradient(top, #335bab 5%, #3066db 100%);
    background: -ms-linear-gradient(top, #335bab 5%, #3066db 100%);
    background: linear-gradient(to bottom, #335bab 5%, #3066db 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#335bab', endColorstr='#3066db', GradientType=0);
    background-color: #335bab;
}

button:active {
    position: relative;
    top: 1px;
}

input[type=text] {
    float: left;
    border: 1px solid #343434;
    background-color: black;
    color: #eee;
    height: calc(12px + 1em);
}

input[type=password] {
    float: left;
    border: 1px solid #343434;
    background-color: black;
    color: #eee;
    height: calc(12px + 1em);
}

input[type=number] {
    float: left;
    border: 1px solid #343434;
    color: #eee;
    background-color: black;
    height: calc(12px + 1em);
}

#input-max-downloads {
    width: 80px;
}

textarea {
    position: relative;
    width: calc(100% - 2em);
    height: 300px;
    box-sizing: border-box;
    border: 1px solid #343434;
    color: #eee;
    background-color: black;
}


.label-section {
    position: relative;
    text-align: left;
    line-height: 30px;
    color: white;
    background-color: #3066db;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
/*   margin-top: 1em; */
}

.label-subsection {
    text-align: left;
    line-height: 30px;
    color: white;
    background-color: #3066db;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
    margin-top: 1em;
}

.info-label {
    float: left;
    color: #fff;
    background: #777;
    font-size: 0.9em;
    padding: 0.5em 0.7em;
    margin-right: 0.5em;
}

.info-data {
    background: #eee;
    font-size: 0.9em;
    padding: 0.5em 0.7em;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    word-wrap: break-word;
}

#editor-links {
    position: relative;
    width: 100%;
}
 
#console,
#links,
#path,
#config,
#info,
#server,
#playlist {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
}

.section {
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}

select {
    -moz-box-shadow: inset 0px 1px 0px 0px #7a8eb9;
    -webkit-box-shadow: inset 0px 1px 0px 0px #7a8eb9;
    box-shadow: inset 0px 1px 0px 0px #7a8eb9;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3066db), color-stop(1, #335bab));
    background: -moz-linear-gradient(top, #3066db 5%, #335bab 100%);
    background: -webkit-linear-gradient(top, #3066db 5%, #335bab 100%);
    background: -o-linear-gradient(top, #3066db 5%, #335bab 100%);
    background: -ms-linear-gradient(top, #3066db 5%, #335bab 100%);
    background: linear-gradient(to bottom, #3066db 5%, #335bab 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#3066db', endColorstr='#335bab', GradientType=0);
    background-color: #3066db;
    border: 1px solid #314179;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    padding-right: 0.7em;
    padding-left: 0.7em;
    height: calc(16px + 1em);
    text-decoration: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
}

#browse a {
    font-weight: normal;
}

div.value,
div.value-number {
    position: relative;
    float: left;
    padding: 0.5em 0.7em;
    word-wrap: break-word;
}

.background-data {
    position: relative;
    float: left;
    background: #eee;
    padding: 0.5em 0.7em 0em;
    margin: 0 0 1px;
    display: block;
    text-align: left;
    word-wrap: break-word;
    width: calc(100% - 1.4em);
}

.background-element {
    position: relative;
    float: left;
    background: #eee;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #fff;
    display: block;
    width: 100%;
    text-align: center;
    cursor: default;
    word-wrap: break-word;
}

.label-element {
    float: left;
    clear: left;
    color: #fff;
    background: #777;
    padding: 0.5em 0.7em;
    margin-right: 0;
    box-sizing: border-box;
}

.sublabel-element {
    float: left;
    clear: left;
    color: black;
    background: #eee;
    margin: 0.7em 0 0.2em 0.7em;
}

.subsublabel-element-dark {
    float: left;
    color: #fff;
    background: #777;
    padding: 0.5em 0.7em;
    margin-right: 0;
    box-sizing: border-box;
}

.subsublabel-element-light {
    float: left;
    color: #black;
    background: #eee;
    padding: 0.5em 0.7em;
    margin-right: 0;
    box-sizing: border-box;
}

.element {
    background: #eee;
    border-bottom: 1px solid #fff;
    word-wrap: break-word;
    width: 100%;
    box-sizing: border-box;
}

.label-data {
    float: left;
    color: #fff;
    background: #777;
    margin: -0.5em 0.7em 0 -0.7em;
    padding: 0.5em 0.7em;
    box-sizing: border-box;
}

button.data {
    float: none;
}

div.value-data {
    position: relative;
    float: left;
    padding: 0.5em 0.7em;
    width: calc(100% - 1.4em);
    word-wrap: break-word;
}

div.file-text {
    display: block;
    position: relative;
    width: calc(100% - 1em);
    height: 300px;
    overflow: auto;
    padding: 4px;
    border: 1px solid #343434;
    box-sizing: border-box;
    color: #eee;
    background-color: black;
}

h1 {
    font-family: "Arial";
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

h3 {
    font-family: "Arial";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}

body,
html,
p,
select,
button,
input {
    font-family: "Arial";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

button,
select,
input[type=submit] {
    font-weight: bold;
}

blockquote {
    font-family: "Arial";
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: "Arial";
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

.login {
    color: white;
    background-color: black;
    text-align: left;
    margin: 0px auto;
}

.login-box {
    width: 100%;
    text-align: center;
    color: white;
    background-color: black;
}

td {
    text-align: right;
    font-weight: bold;
}

#xdcc-search {
    margin: 0;
    width: calc(100% - 23em);
}

.xdcc {
    float: left;
}

#input-link {
    margin: 0;
    width: calc(100% - 13em);
}

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    cursor: pointer;
}

ul.sidenav li.sidenav a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

ul.sidenav li a.active {
    background-color: #3066db;
    color: white;
    text-decoration: none;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
    text-decoration: none;
}

/* @media screen and (max-width: 1050px){ */

ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
}

ul.sidenav li a {
    float: left;
    padding: 15px;
}

div.content {
    margin-left: 0;
}

/* } */

@media screen and (max-width: 600px) {
    #progress-bar,
    #progress-label-file {
        width: 100%;
    }

    #xdcc-search {
        clear: both;
        margin: 0 0 0 1em;
        width: calc(100% - 1em);
    }

    #input-link {
        clear: both;
        margin: 0 0 0 1em;
        width: calc(100% - 1em);
    }

    #xdcc {
        padding: 0 1em 1em 0;
        width: calc(100% - 1em);
        margin: 0;
    }

    .xdcc-buttons,
    button {
        float: right;
    }

    #progress-label-status {
        float: right;
    }

    .value,
    input[type=text],
    input[type=password] {
        clear: both;
        margin: 0;
        width: calc(100% - 1em);
    }

    .value-number,
    input[type=number] {
        clear: left;
        margin: 0;
        width: 6em;
    }

    .background-element {
        padding-right: 1em;
        padding-bottom: 1em;
        width: calc(100% - 1em);
    }
    .timer {
	clear: none;
	width: 2.4em;
    }
}

@media screen and (max-width: 360px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
        display: block;
        overflow: hidden;
    }
    .timer {
	clear: none;
	width: 2.4em;
    }
}

.path {
    padding: 0.5em 0 0.5em 0.7em;
    clear: left;
}

.file-text,
.edit-links {
    position: relative;
    width: calc(100% - 2em);
    height: 300px;
    margin: 1em 0 0 1em;
    padding: 5px;
    display: block;
}

.file-text-buttons,
.edit-links-buttons {
    position: relative;
    margin: 0 0 1em 1em;
}

.file-text-name {
    float: left;
    font-weight: bold;
    clear: both;
    margin: 1em auto 0 1em;
}

.btn.pull-right {
    float: right;
}

.open {
    float: none;
    clear: both;
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.open button,
.browse-buttons {
    float: left;
    clear: both;
    margin-left: 0.7em;
}

.browse {
    clear: both;
}

.path {
    padding: 0.5em 0 0.5em 0.7em;
    clear: left;
}

.open .value,
.path .value {
    clear: both;
}

.download-info {
    float: left;
    width: 100%;
    border-bottom: solid 4px #3066db;
}

.download-info .label-element {
    margin-right: 0.7em;
}

.download-info span {
    margin: 0 5px;
    line-height: 30px;
}

.btn>p {
    padding-top: 0;
}

.element-text {
    display: inline-block;
    background: #eee;
    padding: 0.5em 0.7em;
    word-wrap: break-word;
    box-sizing: border-box;
    clear: none;
}

.download-info .btn {
    float: none;
    clear: none;
    display: inline;
    box-sizing: border-box;
}

.timer {
    clear: none;
    width: 2.4em;
}
