/* ZigzagDownLoader (ZDL)

This program is free software: you can redistribute it and/or modify it
under the terms of the GNU General Public License as published
by the Free Software Foundation; either version 3 of the License,
or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see http://www.gnu.org/licenses/.

Copyright (C) 2011: Gianluca Zoni (zoninoz) <zoninoz@inventati.org>

For information or to collaborate on the project:
https://savannah.nongnu.org/projects/zdl */

/* Labels */
.inline-group .label {
  background: #383D43;
}

/* Labels light */
.inline-group .label.alt {
  background: #3F4757;
}

/* Input and text bars */
.inline-group .value,
.inline-group input {
  background: #555;
  color: #ccc;
}

/* Spinners background */
/* .inline-group .spinner {
  background: #fff !important;
} */

/* Select menu text */
.inline-group .ui-selectmenu-text {
  color: #bbb;
}

/* Playlist */
.playlist > .pl-item > .pl-file {
  background: #383d43;
  color: #7faae2;
}

/* Playlist audio files */
.playlist > .pl-item > .audio {
  background: #3f4757 !important;
  color: #99c2ff !important;
}

/* Progressbar text */
.ui-progressbar .label {
  color: #aaa;
}

/* Progressbar color */
.ui-progressbar > .ui-widget-header {
  background: #444 !important;
  border-color: #444 !important;
}

/* Progressbar background */
.ui-progressbar.ui-widget-content {
  background: #111 !important;
  border-color: #444 !important;
  border-radius: 0;
  height: 28px;
}

/* Progressbar status 100% */
.progressbar .side-status {
  background: #007fff;
  border: 1px solid #007fff;
  color: #eee;
}

/* Progressbar status on download */
.progressbar .downloading {
  background: #cc0 !important;
  border: 1px solid #cc0 !important;
  color: #333 !important;
}

/* Progressbar status on unterminated */
.progressbar .unterminated {
  background: #888 !important;
  border: 1px solid #888 !important;
  color: #333 !important;
}

/* Progressbar status on abort */
.progressbar .aborted {
  background: #f00 !important;
  border: 1px solid #f00 !important;
  color: #eee !important;
}

/* Button action done */
.button-action-done {
  border: 1px solid #3f4757 !important;
  background: #3f4757 !important;
  color: #ccc !important;
}

/* Custom tooltip red background */
.tooltip-custom-red {
  background: #d00;
  color: #fff;
  border: 1px solid #d00 !important;
  border-radius: 5px !important;
  box-shadow: 0 0 5px 2px #555;
}

/* Dialog bar color */
.ui-dialog-titlebar {
  background: #222;
  color: #eee;
}
