/*  ZigzagDownLoader (ZDL) 
 *
 * This program is free software: you can redistribute it and/or modify it  
 * under the terms of the GNU General Public License as published  
 * by the Free Software Foundation; either version 3 of the License,  
 * or (at your option) any later version. 
 *
 * This program is distributed in the hope that it will be useful,  
 * but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY  
 * or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. 
 *
 * You should have received a copy of the GNU General Public License  
 * along with this program. If not, see http://www.gnu.org/licenses/. 
 *
 * Copyright (C) 2011: Gianluca Zoni (zoninoz) <zoninoz@inventati.org>
 *
 * For information or to collaborate on the project: 
 * https://savannah.nongnu.org/projects/zdl 
 *
 * Gianluca Zoni (author) 
 * http://inventati.org/zoninoz 
 * zoninoz@inventati.org 
 */


body, html {
    background: #343434;
    color: #959595;
    margin: 0em;
    font: 12px "Verdana", sans-serif;
    text-align: left;
    padding: 0px;
    margin-left: 0.5em;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


ul {
    margin-left: 0em;
    list-style-type: square;
}

ol {
    margin-left: 0em;
}

li {
    margin-bottom: 0em;
}

.feed_item_date {
    font-size: 10px;
}
